.button {
  line-height: 0;

  background-color: var(--neonGreen);
  padding: 12px;
  margin-top: -150px;
  border: none;
  border-radius: 999px;

  z-index: 9000;

  cursor: pointer;
}

.diceImage {
  width: 20px;
  height: 20px;
}
